export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

use devenv

# Retrieve version info for whichever tailwindcss & esbuild are on
# PATH, instead of relying on whichever static binary is downloaded by
# mix.
export MIX_TAILWIND_VERSION="$($MIX_TAILWIND_PATH --help | awk 'NR==1 {print substr($3,2)}')"
export MIX_ESBUILD_VERSION="$($MIX_ESBUILD_PATH --version)"